/* general style */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  /* background: grey; */
  height: 6000px;
}


/* utility */
.container{
  width: 1300px;
  max-width: 100%;
  margin: 0 auto;
}

.float{
  float: left;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}
.w_20{
  width: 20%;
}
.w_30{
  width: 30%;
}

.w_33{
  width: calc(100% / 3);
}

.w_50{
  width: 50%;
}

.w_60{
  width: 60%;
}

.position_center {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.position_right {
  width: 50%;
  position: absolute;
  top: 30%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}

.relative{
  position: relative;
}


/*  header */
#header_nav{
  position: relative;
  text-align: center;
}

.nav_menu{
  line-height: 80px;
  position: fixed;
  top: 0;
  background: white;
  width: 100%;
  z-index: 5;
}

.nav_menu [class*='nav_col_'] li{
  display: inline-block;
}

[class^='nav_col_'] a:hover{
  border-bottom: 1px solid grey;
}

.nav_col_mid a,
.nav_col_right a{
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 90%;
}

.nav_col_mid a{
  padding: 0 15px;
}

.nav_col_left{
  text-align: left;
}

.nav_col_left img{
  padding: 0 10px;
}

.nav_col_right{
  text-align: right;
}

.nav_col_right a{
  padding: 0 10px;
}

.nav_col_right li:nth-child(2) a{
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

/* jumbotron */

.jumbotron{
  margin-top: 80px;
  width: 100%;
  height: 640px;
  position: relative;
}

.video_container{
  position: absolute;
  width: 100%;
  width: 100%;
  height: 640px;
  overflow: hidden;
}

#video{
  width: 3000px;

  transform: translateY(-25%);
  background-position: center;

  /* filter: contrast(50%); */
}

.opacity{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.position_center h1{
  font-size: 275%;
  color: white;
}

.position_center h3{
  display: block;
  font-size: 15px;
  color: white;
  padding: 25px 0 25px;

}

.position_center a{
  padding: 0 10px;
}

/* main section */

/* row 1 */

.row_1{
  text-align: center;
  margin-top: 50px;
}

.box{
  padding: 15px 0;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.box:hover{
  -moz-transform: scale(4.1);
  -webkit-transform: scale(4.1);
  transform: scale(1.02);
}

.info{
  background: #fafafa;
  margin: 15px 15px;
  padding: 35px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box h2{
  display: inline-block;
  text-transform: uppercase;
  padding-top: 25px;
}

.box h2:nth-child(1){
  letter-spacing: 7px;
}

.box h2:nth-child(2){
  font-weight: 400;
}

.box span{
  display: block;
  color: #212529;
  font-size: 20px;
  padding: 20px 0;
}

.box a{
  display: block;
  font-size: 19px;
  color: #0070c8;
  padding: 15px 0;
}

.box i{
  font-size: 15px;
  padding: 0 5px;
}

.box img {
  max-width: 100%;
  width: 230px;
  margin-top: 25px;
}

/* row 2 */
.row_2{
  margin-top: 50px;
  text-align: center;

}

.row_2_background{
  background-image: url('../img/helbiz-banner.jpg');
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
}

.row_2_container{
}


.row2_col_mid img {
  width: 380px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.row_2_container{
  padding-bottom: 120px;
}

.row2_col_lf,
.row2_col_rg{
  padding-top: 100px;
}

.row2_col_lf h2{
  font-size: 35px;
}

.row2_col_lf{
  text-align: right;
}

.row2_col_rg{
  text-align: left;
}

.row2_col_rg h3{
  margin: 15px 0;

}

.row2_col_rg h3:last-child{
  font-weight: 400;
}

/* row 3 */

.row_3{
  margin-top: 50px;
  background-image: url('../img/scooter-bg.jpg');
  height: 550px;
  background-size: cover;
}

.position_right{
  text-align: center;
  padding: 0 150px;
}

.position_right h3{
  color: white;
  font-size: 40px;
}

.position_right p{
  color: white;
  font-size: 22px;
  padding: 15px 0;
}

.position_right a{
  display: block;
  color: white;
  font-size: 22px;
  text-decoration: none;
}

.position_right i{
  font-size: 15px;
  padding: 0 5px;
}























/*  */
